Nome: Roberto Gomes Rosmaninho Neto

Matricula: 2018054940

Questões: 1 - 6 - 5 - 10 - 7 - 2 -> 1 - 2 - 5 - 6 - 7 - 10

In [0]:
import io
import sqlite3
import pandas as pd

In [0]:
!wget --quiet -P /tmp/ https://raw.githubusercontent.com/robertorosmaninho/4_Semester_2019_UFMG/master/IBD/TP1/despesa.sql

In [0]:
conn = sqlite3.connect('/tmp/despesas.db')
cursor = conn.cursor()

In [9]:
f = io.open('/tmp/despesa.sql', 'r', encoding='utf-8')
sql = f.read()
cursor.executescript(sql)


1. Liste todos os códigos e nomes de subfunções da função que possui o maior número de subfunções.

In [0]:
c1 = pd.read_sql_query("select COD_SUBFUNCAO, NOME_SUBFUNCAO from SUBFUNCAO " + 
                       "natural join DETALHAMENTO_FUNCAO natural join (select " +
                       "COD_FUNCAO, MAX(QTD_SUBFUNCOES) from (select COD_FUNCAO, " +
                       "count(*) as QTD_SUBFUNCOES from DETALHAMENTO_FUNCAO "+
                       "group by COD_FUNCAO))", conn)
c1

2. Liste o valor total de despesas públicas por funçãoo (nome) e subfunção (nome), apenas nos casos em que esse valor total excedeu 200 mil reais.

In [0]:
c2 = pd.read_sql_query("select VALOR_DESPESA, NOME_FUNCAO, NOME_SUBFUNCAO from " +
                       "FUNCAO natural join SUBFUNCAO natural join " + 
                       "DETALHAMENTO_FUNCAO natural join (select " + 
                       "COD_DETALHAMENTO, VALOR_DESPESA from DESPESA_PUBLICA " + 
                       "where VALOR_DESPESA > 200000)", conn)
c2

5. Liste o código e nome dos programas de governo que possuiram os 3 maiores valores de despesas totais na função de educação durante o ano de 2018.

In [0]:
c3 = pd.read_sql_query("select COD_PROGRAMA_GOVERNO, NOME_PROGRAMA_GOVERNO from " + 
                       "PROGRAMA_GOVERNO where COD_PROGRAMA_GOVERNO in (select " + 
                       "COD_PROGRAMA_GOVERNO from DESPESA_PUBLICA natural join " + 
                       "DETALHAMENTO_FUNCAO natural join FUNCAO where " + 
                       "NOME_FUNCAO = 'Educação' and ANO_DESPESA = 2018 group by " + 
                       " COD_PROGRAMA_GOVERNO order by sum(VALOR_DESPESA) " + 
                       "desc limit 3)", conn)
c3

6. Liste todos os nomes de funções e subfunções das despesas públicas do terceiro trimestre de 2018 e seus respectivos valores totais, apenas para o programa MAIS MEDICOS.

In [0]:
c4 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO, sum(VALOR_DESPESA) " + 
                       "as VALOR_TOTAL from FUNCAO natural join DETALHAMENTO_FUNCAO " + 
                       " natural join SUBFUNCAO natural join(select COD_DETALHAMENTO, " + 
                       "VALOR_DESPESA from DESPESA_PUBLICA natural join " + 
                       "PROGRAMA_GOVERNO where ANO_DESPESA = 2018 and " + 
                       "(MES_DESPESA = 7 or MES_DESPESA = 8 or MES_DESPESA = 9) " + 
                       "and NOME_PROGRAMA_GOVERNO = 'MAIS MEDICOS') group by " + 
                       "NOME_FUNCAO, NOME_SUBFUNCAO", conn)
c4

7. Liste os órgãos governamentais e a quantidade de programas de governo distintos envolvidos nas despesas públicas desses órgãos. Nesta consulta, desconsidere valores de despesa negativos ou iguais a zero no período.

In [0]:
c5 = pd.read_sql_query("select NOME_ORGAO, count(*) from ORGAO natural join " + 
                       "DESPESA_PUBLICA natural join PROGRAMA_GOVERNO where " + 
                       "VALOR_DESPESA > 0 group by NOME_ORGAO", conn)
c5

10. Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que o órgão responsável é aquele que possui o maior valor total em despesas durante o ano de 2018.

In [0]:
c6 = pd.read_sql_query("select COD_DESPESA, MES_DESPESA, ANO_DESPESA, " + 
                       "MODALIDADE_DESPESA, VALOR_DESPESA from DESPESA_PUBLICA " + 
                       "where COD_ORGAO in (select COD_ORGAO from ORGAO " + 
                       "natural join DESPESA_PUBLICA group by COD_ORGAO order by " + 
                       "sum(VALOR_DESPESA) desc limit 1)", conn)
c6

12. πNOME FUNCAO, NOME SUBFUNCAO(FUNCAO ◃▹ DETALHAMENTO FUNCAO ◃▹ SUBFUNCAO)

In [0]:
c7 = pd.read_sql_query("select NOME_FUNCAO, NOME_SUBFUNCAO from FUNCAO " +
                       "natural join DETALHAMENTO_FUNCAO natural join SUBFUNCAO", conn)
c7

13. πMODALIDADE DESPESA, VALOR DESPESA, NOME PROGRAMA GOVERNO(PROGRAMA GOVERNO
◃▹ σMODALIDADE DESPESA=‘Reserva de Contingência’(DESPESA PUBLICA))

In [0]:
c8 = pd.read_sql_query("select MODALIDADE_DESPESA, VALOR_DESPESA, " +
                       "NOME_PROGRAMA_GOVERNO from PROGRAMA_GOVERNO natural join " + 
                       "DESPESA_PUBLICA where MODALIDADE_DESPESA = 'Reserva de Contingência'", conn)
c8

14. πVALOR DESPESA, NOME ORGAO(DESPESA PUBLICA
◃▹ σNOME ORGAO=‘Ministério da Fazenda’(ORGAO))

In [0]:
c9 = pd.read_sql_query("select NOME_ORGAO, VALOR_DESPESA from DESPESA_PUBLICA " + 
                       "natural join ORGAO where NOME_ORGAO = 'Ministério da Fazenda'", conn)
c9

15. πNOME PROGRAMA GOVERNO, VALOR DESPESA(DESPESA PUBLICA
◃▹ σNOME ORGAO=’Minist ́erio da Sau ́de’(ORGAO) ◃▹ PROGRAMA GOVERNO)

In [0]:
c10 = pd.read_sql_query("select NOME_PROGRAMA_GOVERNO, VALOR_DESPESA from ORGAO " +
                      "natural join DESPESA_PUBLICA natural join PROGRAMA_GOVERNO " + 
                      "where NOME_ORGAO = 'Ministério da Saúde'", conn)
c10